@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #233a50;
}

::-webkit-scrollbar-track {
    background-color: #abb7c4;
}

/* scrollbar */

@layer components {
    .button {
        @apply bg-red rounded-full px-6 py-3 text-white;
    }

    .flip-button {
        position: relative;
        transition: transform 0.5s;
    }

    .flip-button:hover {
        transform: rotateY(180deg);
    }

    .flip-button::before,
    .flip-button::after {
        transition: transform 0.5s;
        /* transform-style: preserve-3d; */
    }

    body {
        text-align: center;
    }

    .hr-text {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        color: black;
        text-align: center;
        height: 1.5em;
        opacity: 0.5;
    }
    .hr-text:before {
        content: "";
        background: linear-gradient(to right, transparent, #818078, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }
    .hr-text:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;
        padding: 0 0.5em;
        line-height: 1.5em;
        color: #818078;
        background-color: #fcfcfa;
    }
}
